#mybody {
    background-color: beige;
    color: #333;
}

.nav-header {
    background-color: #333;
    overflow: hidden;
}

.links li {
    display: flex;
    padding: 0.5rem 2rem;
    float: right;
}

.links a {
    color: #fff;
    font-size: 25px;
    text-transform: capitalize;
    display: flex;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 10px;
}

.links a:hover {
    background: burlywood;
    background-color: green;
}

#introDiv {
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #000000;
    text-decoration: underline;
}

.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: #dc3545;
    border: 1px solid #dc3545;
    color: #fff;
}


#gymForm {
    max-width: 350px;
    padding: 20px;
    background-color: green;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#gymForm input[type="text"],
input[type="number"],
input[type="url"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

#gymForm input[type="text"]:focus,
input[type="number"]:focus,
input[type="url"]:focus {
    outline: none;
    border-color: #007bff;
}

#gymForm button {
    padding: 7px;
    border-radius: 4px;
}

#gymForm button[type="submit"]:hover {
    background-color: #0056b3;
}

#mainUl {
    display: block;
    margin-top: 8px;
}

#mainUl li {
    list-style-type: none;

    margin-right: 75px;
    margin-left: 75px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    display: inline-block;
}


footer {
    background-color: #333;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 20px;
    color: #fff;
    padding: 10px;
}


#contactForm label {
    display: inline-block;
    text-align: right;
    margin-bottom: 5px;
}

#contactForm input[type="text"],
#contactForm input[type="email"],
#contactForm textarea {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#contactForm input[type="submit"] {
    padding: 8px 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#contactForm input[type="submit"]:hover {
    background-color: red;
}

.clear-button {
    position: relative;
    top: -24px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #030303;
    background-color: green;
    border: none;
    color: white;
    padding: 8px 18px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.clear-button:hover {
    background-color: #720e01;
}

.copyright {
    padding: 30px;
    font-size: 16px;
}