.nav-header {
    background-color: #333;
    overflow: hidden;
    padding: 10px;
}

.links li {
    display: flex;
    padding: 0.5rem 2rem;
    float: right;
}

.links a {
    color: #fff;
    font-size: 1rem;
    text-transform: capitalize;
    display: flex;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 10px;
}

.links a:hover {
    background: burlywood;
    background-color: green;
    padding-left: 1.5rem;
}

#introDiv {
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #000000;
}

#mainUl {
    display: block;
    margin-top: 8px;
}

#mainUl li {
    list-style-type: none;

    margin-right: 75px;
    margin-left: 75px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    display: inline-block;
}


footer {
    background-color: #333;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 20px;
    color: #fff;
    padding: 10px;
}


#contactForm label {
    display: inline-block;
    text-align: right;
    margin-bottom: 5px;
}

#contactForm input[type="text"],
#contactForm input[type="email"],
#contactForm textarea {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#contactForm input[type="submit"] {
    padding: 8px 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#contactForm input[type="submit"]:hover {
    background-color: red;
}

.clear-button {
    position: relative;
    top: -24px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #030303;
    background-color: green;
    border: none;
    color: white;
    padding: 8px 18px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.clear-button:hover {
    background-color: #720e01;
}

.copyright {
    padding: 30px;
    font-size: 16px;
}