body {
    background-color: #333;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    color: #fff;
    padding: 10px;
}

.nav-header {
    background-color: #333;
    /* overflow: hidden; */
}

.nav-header .links {
    list-style-type: none;
}

.nav-header .links li {
    float: right;

}

.nav-header .links li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 32px;
    text-decoration: none;
    border-radius: 10px;
}

.nav-header .links li a:hover {
    background-color: green;
}

.About-cont {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.one,
.two,
.three {
    flex-basis: 33%;
}

.about-footer {
    text-align: center;
}